  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Howdy Yall!!</h1>
        <p>Do not use a default Bootstrap theme.....</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p> Default Boostrap themes are lame</p>
          <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p> Lame Bootstrap theme </p>
          <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p> Boostrap themes like this are lazy</p>
          <p><a class="btn btn-warning" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>
